DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=systemgrid
DATABASE_PASSWORD=systemgrid
DATABASE_NAME=systemgrid_academy

PGADMIN_DEFAULT_EMAIL=admin@systemgrid.academy
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050
